*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: goldenrod;
}
#wrapper{
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
}
header, nav, aside, footer {
    color: white;
}
header, main, img {
    width: 100%;
    height: auto;
}
header{
    text-align: center;
    background-color: rgb(32, 131, 212);
}
main{
    display: flex;
    margin-top: 10px;
}
nav{
    display: flex;
    width: 20%;
    margin: 10px;
    padding: 5px;
    background-color: rgb(32, 131, 212);
    text-align: center;
    height: fit-content;
    flex-direction: column;
}
main article h2 {
    color: goldenrod;
    margin: 30px auto;
}
article{
    width: 60%;
    margin: 10px;
    text-align: justify;
}
aside{
    width: 25%;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    height: fit-content;
    background-color: rgb(32, 131, 212);
}
h3 {
    text-align: center;
    padding: 5px;
}
footer{
    padding: 5px;
    text-align: center;
    background-color: rgb(0, 58, 105);
}